.card{
      width: 400px;
      height: 400px ;
      background-color: hsl(213, 19%, 18%) ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 1rem;
}
.star{
      background-color:hsl(213, 21%, 22%) ;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 2rem 2rem ;
}
.title{
      color: hsl(0, 0%, 100%);
      font-size: 2rem;
      margin: 0 2rem;
      font-weight: 400;
      
}
.description{
      color: hsl(216, 12%, 54%) ;
      margin: 1rem  2rem;
}
.nav-stars{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      margin: 0 2.3rem;
      
}
.nav-stars .item{
      width: 40px;
      height: 40px;
      background-color: hsl(213, 21%, 22%) ;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      margin:  1rem 0;
      text-transform: uppercase;
      color: hsl(0, 0%, 100%);
      cursor: pointer;
      transition: all 400ms;
}
.nav-stars .item:hover{
      background-color: hsl(25, 97%, 53%);
      scale: 1.1;
}
.btn{
      margin: 0 2rem;
      background-color: hsl(25, 97%, 53%);
      border: none;
      height: 40px;
      border-radius: 3rem;
      color: hsl(0, 0%, 100%);
      cursor: pointer;
      margin-top: 2rem;
      margin-bottom: 1rem;
      transition: all 400ms;
}
.btn:hover{
      background-color: hsl(0, 0%, 100%);
      color: hsl(25, 97%, 53%);
      scale: 1.1;
}
.active{
      background-color: hsl(216, 12%, 54%);
}
.fechado{
      display: none;
}


